# Discord bot token
BOT_TOKEN=INSERT_BOT_TOKEN

# API keys
EXCHANGE_RATE_API_KEY=INSERT_API_KEY
OPENROUTER_API_KEY=INSERT_API_KEY
GOOGLE_API_KEY=INSERT_API_KEY
GOOGLE_SEARCH_ENGINE_ID=INSERT_SEARCH_ENGINE_ID

# PostgreSQL info
POSTGRES_USERNAME=USERNAME
POSTGRES_PASSWORD=PASSWORD