node_modules
previous_rate.txt
config.json
src/commands/daylist/*.json
drink.json
eng.traineddata
.eslintrc.js
src/commands/daylist/BASELINE_daylist.json
src/images/
.vs/
.env
node_modules
dist