node_modules
previous_rate.txt
config.json
daylist.json
daylist2.json
drink.json
eng.traineddata
.eslintrc.js
commands/drink/drink*.json
commands/daylist/BASELINE_daylist.json
/images/
.vs/
.env
node_modules
dist